<h2 class="mt-3">Pipes <small>Angular</small></h2>

<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
         <th>Variable</th>
         <th>Pipe</th>
         <th>Exit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> {{name}} </th>
          <th> uppercase </th>
          <th> {{name | uppercase}} </th>
        </tr>

        <tr>
          <th> {{name}} </th>
          <th> lowercase </th>
          <th> {{name | lowercase}} </th>
        </tr>

        <tr>
          <th> {{name}} </th>
          <th> slice : 3 </th>
          <th> {{name | slice:3}} </th>
        </tr>

        <tr>
          <th> {{name}} </th>
          <th> slice : 0 : 3 </th>
          <th> {{name | slice:0:3}} </th>
        </tr>

        <tr>
          <th> {{array}} </th>
          <th> slice : 0 : 5 </th>
          <th> {{ array | slice:0:5 }} </th>
        </tr>

        <tr>
          <th> {{ PI }} </th>
          <th> decimal or number: '1.0-0' </th>
          <th> {{ PI | number: '1.0-0' }} </th>
        </tr>

        <tr>
          <th> {{ PI }} </th>
          <th> number or number: '.0-2' </th>
          <th> {{ PI | number: '.0-2' }} </th>
        </tr>

        <tr>
          <th> {{ percent }} </th>
          <th> percent </th>
          <th> {{ percent | percent }} </th>
        </tr>

        <tr>
          <th> {{ percent}} </th>
          <th>  percent:'2.2-2' </th>
          <th> {{ percent | percent:'2.2-2' }} </th>
        </tr>

        <tr>
          <th> {{ salary }} </th>
          <th> currency </th>
          <th> {{ salary | currency }} </th>
        </tr>

        <tr>
          <th> {{ salary }} </th>
          <th> currency: "EUR" </th>
          <th> {{ salary | currency: "EUR"}} </th>
        </tr>

      

      </tbody>
    </table>
  </div>
</div>

<hr>
<br>

<div class="row">
  <div class="col-md-6">
    <h3>Pipe Slice</h3>
    <hr>
    <ul>
      <li *ngFor="let item of array | slice: 0:8"> {{ item  }}</li>
    </ul>
  </div>

  <div class="div-md-6">
    <h3>JSON</h3>
    <hr>
    <pre>
      {{ hero | json }}
    </pre> 
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    
  </div>
</div>

<br>



